.about-section .social-links a i,
.about-section .couple i.fa-pagelines,
.about-section .couple h3,
.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: forestgreen;
}

.about-section .social-links a i,
.about-section .couple img{
    border-color: forestgreen;
}

.about-section .social-links a:hover i{
    background-color: forestgreen;
}