/************************ import fonts ************************/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/************************ default style ************************/
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    background-color: #f3f2f1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i){
    font-family: 'Roboto', sans-serif;
}

::before,::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

.container{
    max-width: 1140px;
    margin: auto;
}

header,
section,
footer{
    display: block;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 45px;
    color: black;
    font-weight: 700;
    font-family: "Great Vibes", cursive;
    letter-spacing: 2px;
    margin: 0;
}


/************************ header ************************/
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.header .logo{
    padding: 0 15px;
}

.header .logo a{
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
}

.header .nav{
    padding: 0 15px;
}

.header .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav ul li{
    /* display: inline-block; */
    margin-left: 30px;
    display: inline-block;
}

.header .nav ul li a{
    display: block;
    padding: 25px 0;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}   

/************************ home-section ************************/
.home-section{
    min-height: 100vh;
    position: relative;
}

.home-section .salam{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 98;
}

.home-section .salam .salam-content{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 100px;
    text-align: center;
}

.home-section .salam .salam-content p{
    font-size: 30px;
    color: white;
    /* margin: 0 0 15px; */
}

.home-section .salam .salam-content i{
    font-size: 15px;
}

.home-section .slide.active .salam .salam-content p{
    opacity: 0;
    animation: fadeInTop 1s ease forwards; 
}

.home-section .slide{
    background-position: center;
    background-size: cover;
    position: absolute;  
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.home-section .slide.active{
    opacity: 1;
    visibility: visible;
}

.home-section .slide::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
}

.home-section .row{
    min-height: 100vh;
}

.home-section .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 0;
    text-align: center;
    /* border: 2px solid white; */
    border-radius: 30px;
}

.home-section .home-content p{
    font-size: 20px;
    color: white;
    margin: 0 0 15px;
}

.home-section .slide.active .home-content p{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInTop{
    0%{
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.home-section .home-content h1{
    font-size: 80px;
    color: white;
    margin: 0;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;
}

.home-section .slide.active .home-content h1{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 1s;
}

.home-section .home-content span{
    font-size: 20px;
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 30px;
    padding: 7px 30px;
    margin-top: 20px;
}

.home-section .slide.active .home-content span{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 1.5s;
}


/************************ about-section ************************/
.about-section{
    padding: 80px 0 80px;
}

.about-section .couple{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60px;
    text-align: center;
    position: relative;
}

.about-section .couple:nth-child(2):before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #cccccc;
}

.about-section .couple i.fa-pagelines{
    position: absolute;
    left: -15px;
    top: 30%;
    width: 31px;
    background-color: #f3f2f1;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}

.about-section .couple img{
    max-width: 280px;
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}

.about-section .couple h3{
    font-size: 40px;
    margin: 15px 0;
    font-family: "Great Vibes", cursive;
    font-weight: normal;
    letter-spacing: 2px;
}

.about-section .couple p{
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    margin: 0;
}

.about-section .social-links{
    padding-top: 30px;
}

.about-section .social-links a{
    display: inline-block;
    margin: 0 3px;
}

.about-section .social-links a i{
    height: 32px;
    width: 32px;
    line-height: 30px;
    text-align: center;
    border: 1px solid transparent;
    display: block;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.about-section .social-links a:hover i{
    color: #f3f2f1;
}

/************************ event info ************************/
.info-section{
    padding: 80px 0 130px;
}

.info-section .section-title h2{
    /* color: white; */
}

.info-section .info-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.info-section .info-item:nth-child(2){
    transform: translateY(50px);
}

.info-section .info-item-inner{
    background-color: white;
    padding: 60px 45px 60px;
    /* padding: 60px 45px 100px; */
    text-align: center;
    box-shadow: 0 0 10px #888888;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.info-section .info-item-inner::before{
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid white;
    z-index: -1;
}

.info-section .info-item-inner h3{
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    display: inline-block;
}

.info-section .info-item-inner span{
    color: whitesmoke;
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.info-section .info-item-inner span.time{
    margin-bottom: 15px;
}

.info-section .info-item-inner p{
    color: whitesmoke;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

/* .info-section .info-item-inner img{
    position: absolute;
    width: 40px;
    left: 50%;
    bottom: 18px;
    z-index: -2;
    margin-left: -20px;
} */

/************************ event rundown ************************/
.rundown-section{
    padding: 80px 0 80px;
}

.rundown-section .rundown-content{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.rundown-section .rundown-content::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #cccccc;
}

.rundown-section .rundown-item{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
}

.rundown-section .rundown-item:last-child{
    margin-bottom: 0;
}

.rundown-section .rundown-item:nth-child(even){
    flex-direction: row-reverse;
}

.rundown-section .rundown-item:nth-child(odd) .rundown-text{
    padding: 0 60px 0 15px;
    text-align: right;
}

.rundown-section .rundown-item:nth-child(odd) .rundown-img{
    padding: 0 15px 0 60px;
}

.rundown-section .rundown-item:nth-child(even) .rundown-text{
    padding: 0 60px 0 15px;
    padding: 0 15px 0 60px;
}

.rundown-section .rundown-item:nth-child(even) .rundown-img{
    padding: 0 60px 0 15px;
}

.rundown-section .rundown-item i{
    position: absolute;
    /* top: 5px; */
    left: 50%;
    margin-left: -15px;
    width: 31px;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    background-color: #f3f2f1;
}

.rundown-section .rundown-text,
.rundown-section .rundown-img{
    flex: 0 0 50%;
    max-width: 50%;
}

.rundown-section .rundown-text h3{
    font-size: 24px;
    margin: 0 0 8px;
    color: #000000;
    font-weight: 500;
    text-transform: capitalize;
}

.rundown-section .rundown-text span.time{
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    margin: 0 0 15px;
    display: block;
    text-transform: capitalize;
}

.rundown-section .rundown-text p{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    color: #555555;
}

/************************ event rundown ************************/
.family-section{
    padding: 80px 0 80px;
}

.family-section .family-filter{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.family-section .filter-btn{
    background-color: #dedede;
    color: #555555;
    padding: 7px 15px;
    display: inline-block;
    margin: 0 3px;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}

.family-section .filter-btn.active{
    color: white;
}

.family-section .family-item{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 15px;
    margin-top: 25px;
    display: none;
}

.family-section .family-item-inner{
    background-color: white;
    padding: 15px;
    text-align: center;
}

.family-section .family-item-inner img{
    width: 100%;
    box-shadow: 0 0 10px #cccccc;
    margin-top: -40px;
    transition: all 0.5s ease;
}

.family-section .family-item-inner:hover img{
    transform: scale(0.95);
}

.family-section .family-item-inner h4{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin: 20px 0 5px;
    text-transform: capitalize;
}

.family-section .family-item-inner p{
    color: #555555;
    font-size: 16px;
    margin: 0 0 10px;
    text-transform: capitalize;
}